<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Serviços</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Ajuda on-line</a></li>
                            <li><a href="#">Contatos</a></li>
                            <li><a href="#">Status do pedido</a></li>
                            <li><a href="#">Perguntas frequentes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Compra rápida</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Bolo</a></li>
                            <li><a href="#">Tortas</a></li>
                            <li><a href="#">Docinhos</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Policies</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Termos de Uso</a></li>
                            <li><a href="#">Privacidade</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Sobre E-Cakes</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Informações</a></li>
                            <li><a href="#">Localização da Confeitaria</a></li>
                            <li><a href="#">Copyright</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>Sobre CAKES</h2>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="Your email address" />
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-arrow-circle-o-right"></i>
                            </button>
                            <p>Obtenha as atualizações mais recentes do <br />nosso site e fique atualizado...</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2021 E-CAKES Inc. Todos os direitos reservados.</p>
                <p class="pull-right">
                    Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span>
                </p>
            </div>
        </div>
    </div>
</div>

</html>