<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.w3.org/1999/xhtml">


<head>


</style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />



</head>
<body>

<title>Admnistração E-Cakes</title>

<he th:text="${conn}"/>



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Painel de Gereciamento - E-Cakes</h1>
        <p class="lead">Somente o usuário administrador terá acesso a este ambiente.</p>
    </div>
</div>

<ul class="nav nav-pills">
    <!--        Sombra no botão-->
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Categorias</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/categoria/novo}">Gerenciar Categoria</a>
                <a class="dropdown-item" th:href="@{/categoria}">Listar Categoria</a>
            </div>

        </li>
    </div>

    <!--        Sombra no botão-->
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Cliente</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Gerenciar Cliente</a>
                <a class="dropdown-item" href="#">Listar Cliente</a>
            </div>
        </li>
    </div>
    <!--        Sombra no botão-->
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Marca</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/marca/novo}">Gerenciar Marca</a>
                <a class="dropdown-item" th:href="@{/marca}">Listar Marca</a>
            </div>
        </li>
    </div>

    <!--        Sombra no botão-->
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Massa</a>
            <div class="dropdown-menu">
                <a class="dropdown-item"  th:href="@{/massa/novo}" style="color: #FE980F">Gerenciar Massa</a>
                <a class="dropdown-item" th:href="@{/massa}">Listar Massa</a>
            </div>
        </li>
    </div>


    <!--        Sombra no botão-->
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Pedido</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/pedido/novo}">Gerenciar Pedido</a>
                <a class="dropdown-item" th:href="@{/pedido}">Listar Pedido</a>
                <a class="dropdown-item" th:href="@{/pedido/pesquisar}">Pesquisar Pedido</a>
            </div>
        </li>
    </div>

    <!--        Sombra no botão-->
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Produto</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/produto/novo}">Gerenciar Produto</a>
                <a class="dropdown-item" th:href="@{/produto/lista}" >Listar Produto</a>
            </div>
        </li>
    </div>

    <!--        Sombra no botão-->
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Relatorios</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/relatorio/pdf/jr1(code='01', acao='v')}">Abrir-Relatório 01</a>
                <a class="dropdown-item" th:href="@{/relatorio/pdf/jr1(code='01', acao='d')}">Download-Relatório 01</a>
                <a class="dropdown-item" th:href="@{/relatorio/pdf/jr1(code='02', acao='v')}">Abrir-Relatório 02</a>
                <a class="dropdown-item" th:href="@{/relatorio/pdf/jr1(code='02', acao='d')}">Download-Relatório 02</a>
                <a class="dropdown-item" th:href="@{/relatorio/pdf/jr1(code='03', acao='v')}">Abrir-Relatório 03</a>
                <a class="dropdown-item" th:href="@{/relatorio/pdf/jr1(code='03', acao='d')}">Download-Relatório 02</a>




            </div>
        </li>
    </div>


</ul>

<h1>Bem vindo ao curso!!!</h1>

<a th:href="@{/reports}">Abrir pagina</a>
<he th:text="${conn}"/>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>